<h1> Tasks details </h1>
<h2><%= @task.title %></h2>
<h2><%= @task.details %></h2>

<%= link_to "Edit task", edit_task_path %>

<%= link_to "Delete #{@task.title}", task_path(@task), method: :delete, data: { confirm: "Are you sure?" } %>
